{{> header1}}



<div class="row">
    {{#each data}}
    <div class="card col-md-3 mt-3" style="width: 18rem;">
        <img src="/static/images/{{image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h4>{{name}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <div class="d-flex">
                <a href="#" class="btn btn-dark" style="margin: 0;">Add to cart</a>
                <h5 style="margin: 5px 20px;">{{price}}</h5>
            </div>
        </div>
    </div>
    {{/each}}
</div>


{{> footer}}